/* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

body {
  font-family: sans-serif;
  font-weight: 500;
  /*background-color: #000000da;*/
  position: relative;
  padding-bottom: 58px;
  min-height: 100vh;
  align-items: center;
}
/*
header {  
 /* width: 100%;
  background-color: #03030300;
  color: white;
  padding: 2rem 5rem;
  text-align: center;
}
*/
#btn-menu {
  display: none;
}

header label {
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px;
  border: 1px solid #fff;
}

header label:hover {
  cursor: pointer;
  background: #000000cc;
}

.menu ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
}

.menu li a {
  display: inline-block;
  color: #ccc8c8a8;
  text-decoration: none;
  padding: 15px 20px;
}

.menu li a:hover {
  color: white;
  transition: all 1s;
  text-decoration: underline;
}

.menu li a.elegido {
  color: white;
}

header h1 {
  font-size: 3rem;
}

section .container {
  padding: 10px;
  margin-bottom: 10px;
  background: #69696946;
  float:right;
  width: auto;
}

.form-register {
  width: 400px;
  background: #69696946;
  padding: 30px;
  margin: auto;
  margin-top: auto;
  border: black;
}

.form-register h4 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: white	;
}

.form-register .boton {
  width: 100%;
  /*background: #23262c;*/
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.controlador {
  width: 100%;
  background: #ffffff;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 10px;
  border: 0.5px solid #7b7e85;
  font-family: "arial";
  font-size: 16px;
  /*color: white;*/
}

section article {
  background-color: rgba(221, 221, 204, 0.863);
  margin: 1rem 0;
  padding: 0.1rem 0;
  /*text-align: center;*/
}

section article a {
  margin: 1rem;
  color: black;
  font-size: 2rem;
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
tr,
td {
  border: solid 1px #eee;
  padding: 5px;
  text-align: center;
}

th {
  background-color: #364550;
  color: white;
  text-align: center;
}

div a {
  background-color: #364560;
  color: white;
  padding: 1rem 1rem;
  transition: color 0.3s ease;
  text-decoration: none;
  font-weight: bolder;
}

div a:hover {
  color: black;
  background-color: slategray;
}

div b {
  background-color: #364560;
  color: white;
  padding: 1rem 1rem;
  transition: color 0.3s ease;
  text-decoration: none;
  font-weight: bolder;
}

form input.boton {
  background-color: #48e;
  color: #fff;
  width: calc(80% - 20px);
  margin: 0 10%;
  margin-top: 22px;
  border-radius: 0.5rem;
  transition: color 0.3s ease;
  font-weight: bolder;
  cursor: pointer;
}

form section input.boton:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(221, 221, 204, 0.863);
}

.ok {
  text-align: center;
  width: 100%;
  padding: 12px;
  background-color: #78b361;
  color: #fff;
}
.bad {
  text-align: center;
  width: 100%;
  padding: 12px;
  background-color: rgba(180, 38, 38, 0.288);
  color: #fff;
}

footer {
  position: absolute;
  background-color: #000000da;
  padding: 20px;
  width: 100%;
  bottom: 0;
  color: white;
  padding-bottom: 20px;
}

footer section {
  float: right;
}

footer p {
  margin: 0;
}

footer a {
  transition: color 0.3s ease;
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: cornflowerblue;
}

@media (max-width: 768px) {
  header {
    padding: 30px 20px;
  }
  header h1 {
    font-size: 36px;
    margin-bottom: 22px;
  }

  header label {
    display: block;
  }

  .menu {
    position: absolute;
    background: #1a1b1b;
    width: 30%;
    margin-left: -60%;
    transition: all 0.5s;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu li {
    border-top: 1px solid #fff;
  }

  #btn-menu:checked ~ .menu {
    margin: 0;
  }

  header p {
    font-size: 18px;
  }
  main {
    width: 50vw;
    padding: 10px;
  }
  article {
    margin-bottom: 16px;
    font-size: 14px;
  }
  article h3 {
    margin: 10px 0 20px 0;
  }
  article p {
    margin-top: 16px;
    line-height: 20px;
  }
}
